
$color-main-green: #37806b;
$color-main-brown: #caa892;
$color-decore-brown: #b0855b;
$color-error-red: #c92a2a;
$color-main-black: #212121;
$color-white: #fff;
$color-dark-grey: #646464;
$color-light-grey: #f8f8f8;
$form-input-grey: #eee;
$color-social-background: #d5d5d5;
$color-page-separator: #c4c4c4;
