html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}


.invisible {
  visibility: hidden;
  opacity: 0;
}

.input--invalid {
  border: 3px solid $color-error-red;
  transition: all 0.5s;
}
